*, *:before, *:after {
	margin: 0;
	padding: 0;
}
body {
	color: #555555;
	font-family: 'Noto Sans',sans-serif;
}
/**** Header y Navbar ****/
.navbar-inverse {
	background: #fff;
	border: none;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
header nav div div a img {
	width: 180px;
	height: 65px;
}
.navbar-brand {
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -2px;
	margin-top: 10px;
	padding: 0;
}
@media screen and (max-width: 600px) {
	.empresa{
		display:none;
	}
	header nav div div a img {
		padding-bottom: 5px;
	}
}
.navbar-inverse .navbar-brand {
	color: #428BCA;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	background: none;
	color: #428BCA;
}
.navbar-nav {
	float: right;
}
.navbar-inverse .navbar-nav > li > a {
	color: #333333;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 20px 10px;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
	color: #428BCA;
}
.navbar-inverse .navbar-toggle {
	background: #FFFFFF;
	border: 0 none;
	margin: 25px 20px 20px 15px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #eee;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background: #333;
}
/**** Panel ****/
.jumbotron {
	background: url(../img/bigBG.jpeg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 0;
	padding-top: 140px;
	color: #fff;
	margin-bottom: 0;
}
.jumbotron .mobile {
	background-image: url("../img/mobile.png");
	background-repeat: no-repeat;
	height: 499px;
	margin-left: -96px;
	margin-top: 0;
	overflow: hidden;
	width: auto;
}
.jumbotron h1 {
	color: #fff;
	font-size: 72px;
	font-weight: 700;
	text-shadow: 0 1px 5px #222222;
}
.jumbotron h2 {
	color: #fff;
	font-weight: 300;
	text-shadow: 0 1px 5px #222222;
	margin-bottom: 30px;
}
.jumbotron .actionBtn .line1 {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	width: 140px;
	margin-top: 10px;
}
.jumbotron .actionBtn .line2 {
	font-size: 28px;
	font-weight: 700;
	line-height: 1;

}
/**** Secciones y otros estilos ****/
.altWrap {
	background-color: #f7f7f7;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
h1, h2, h3, h4, h5, h6 {
	color: #333333;
	font-family: 'Roboto Condensed',sans-serif;
}
p {
	line-height: 1.6;
	font-size: 16px;
}
a:focus {
	outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, button {
	outline: none;
}
a {
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
.sectionTitle {
	color: #428BCA;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
}
/**** ¿Quienes somos? ****/
.quienes-h3 {
	color: #428BCA;
	text-align: justify;
}
/**** Nuestra Historia ****/
.historia-img {
	margin-top: 55px;
	margin-bottom: 25px;
	width: 500px;
	height: 280px;
}
.historia-p {
	color: #333333;
	text-align: justify;
}
/**** ¿Por qué Administración Inteligente? ****/
#Porque .productFeatures {
	margin-top: 20px;
	text-align: justify;
}
#Porque .productFeatures h3 {
	margin-top: 0;
	color: #428BCA;
	text-align: justify;
}
#Porque .productFeatures p {
	margin-bottom: 50px;
	text-align: justify;
}
#Porque .productFeatures .icon {
	text-align: right;
	color: #428BCA;
	font-size: 20px;
	text-align: justify;
}
/**** Cotización ****/
.inputContainer{
	margin-top: 22px;
}
.screen-reader-text{
	color: #428BCA;
	font-size: 18px;
}
.btn-coti {
	margin-top: 20px;
	float: right;
	width: 350px;
}
/**** Servicio ****/
#Servicio .priceTable {
	background: #f7f7f7;
	border-radius: 5px;
	border: 1px solid #D9D9D9;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	list-style: none outside none;
	text-align: center;
}
#Servicio .priceTable:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	cursor: pointer;
}
#Servicio .priceTable .title {
	color: #333333;
	font-size: 25px;
	font-weight: 700;
	padding: 15px 10px 0;
	font-family: 'Roboto Condensed',sans-serif;
}
#Servicio .priceTable .description {
    color: #777777;
    font-size: 14px;
	padding: 10px 10px 20px;
}
#Servicio .priceTable .price {
	background: #F2F2F2;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	color: #333333;
	font-size: 26px;
	margin-bottom: 20px;
	padding: 15px 10px;
}
#Servicio .priceTable ul.features {
    margin: 0;
    padding: 0;
	list-style: none outside none;
}
#Servicio .priceTable ul.features li {
	border-bottom: 1px dotted #D2D2D2;
    color: #333333;
    font-size: 16px;
    margin: 0 30px;
    padding: 15px 0;
    text-align: center;
}
#Servicio .priceTable .call {
	margin: 30px 10px;
}
#Servicio .priceTable .call .btn {
	width: 70%;
}
#Servicio .priceTable.alt {
	border-color: #428BCA;
	background: #428BCA;
}
#Servicio .priceTable.alt .title {
	color: #fff;
}
#Servicio .priceTable.alt .description {
    color: #fff;
}
#Servicio .priceTable.alt .price {
	background: #fff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	color: #333333;
}
#Servicio .priceTable.alt ul.features li {
	border-bottom: 1px dotted #fff;
    color: #fff;
}
#Servicio .priceTable.alt .call .btn {
	background: #FFFFFF;
    border-color: #FFFFFF;
	color: #333;
}
/**** Contactanos ****/
.btn-cont {
	margin-top: 20px;
	width: 350px;
}
/**** Footer ****/
footer {
	background: #444;
	padding: 40px 0;
}
footer p {
	color: #ddd;
    font-weight: 300;
    margin: 0 0 20px 0;
	font-size: 16px;
}
footer .social {
	margin: 0;
}
footer .social a {
	color: #DDDDDD;
	text-decoration: none;
}
footer .social a:hover {
	color: #fff;
}
footer .social a .fa-inverse {
	color: #444;
}
/**** Responsive ****/
@media(max-width:1200px){
	.jumbotron .mobile {
		margin-left: -164px;
	}
}
@media(max-width:979px){
	.navbar-collapse {
		float: right;
	}
	.navbar-inverse .navbar-nav > li > a {
		font-size: 16px;
		padding: 25px 12px;
	}
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		font-size: 28px;
		float: left;
		margin: 15px 0;
		width: auto;
	}
	.navbar-inverse .navbar-brand .fa-stack {
		font-size: 22px;
	}
	.navbar-nav {
		float: left;
	}
	.jumbotron {
		padding-top: 100px;
	}
	.jumbotron .jumboText {
		text-align: center;
	}
	.jumbotron h1 {
		font-size: 64px;
	}
	.jumbotron .actionBtn {
		margin-bottom: 50px;
	}
	.jumbotron .mobile {
		margin-left: -48px;
	}
	#Porque .imgWrap img {
		margin: 0 auto 60px;
	}
	#contactWrap .blurb {
		font-size: 20px;
	}

}
@media (max-width: 767px) {
	.navbar-collapse {
		float: none;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		float: left;
		margin: 15px 0 15px 15px;
	}
	.navbar-inverse .navbar-nav > li > a {
		font-size: 14px;
		padding: 12px 15px;
	}
	.jumbotron {
		padding-left: 0;
		padding-right: 0;
	}
	.jumbotron h1 {
		font-size: 48px;
	}
	.jumbotron h2 {
		font-size: 22px;
	}

	#featureWrap .feature {
		margin-bottom: 40px;
	}
	#Porque .productFeatures .icon {
		font-size: 14px;
	}
	#Servicio .priceTable {
		margin-bottom: 60px;
	}
}
